<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   
    <form action="/song/uploadSong" method="POST" enctype="multipart/form-data">
        <h1>Upload a Song</h1>
       <div> <label for="title">Song Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>
       </div>
        
       
    <div> <label for="singer">Singer:</label><br>
    <input type="text" id="singer" name="singer" required><br><br>
    </div>

    <div> <label for="genre">Genre:</label><br>
        <input type="text" id="singer" name="genre" required><br><br>
        </div>
        <div> <label for="album">Album:</label><br>
            <input type="text" id="singer" name="albumb" required><br><br>
            </div>

       <div>
        <label for="song">Choose Song File:</label><br>
        <input type="file" id="song" name="song" accept="audio/*" required><br><br>
       </div>

        <button type="submit">Upload</button>
    </form>
    
</body>
</html>